html {
    background: #e9ecef;
}

.error {
    color: red;
}

textarea {
    overflow-y: scroll;
    height: 300px;
}

input[readonly] {
    visibility: hidden;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
