<!doctype html>
<html>
   <body>
   
      <h1>Create new poll:</h1>

      <form action="submit_new_poll">
        <label for="question">Motion:</label><br>
        <input type="text" id="question" name="question"><br><br>

        <label for="options">Options:</label><br>
        <input type="radio" id="yes" name="options" value="yes">
        <label for="yes">Approve</label><br>
        <input type="radio" id="no" name="options" value="no">
        <label for="no">Reject</label><br>
        <input type="radio" id="abstain" name="options" value="abstain">
        <label for="abstain">abstain</label><br><br>

        <label for="people">Eligible voters:</label><br>
        <textarea rows="50" cols="50" name="people">Enter one person per line...</textarea><br>
        <input type="submit" name="submit" value="Submit" >
      </form>
      
   </body>
</html>