<!doctype html>
<html>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <body>
   
      <h1>Create new poll:</h1>

      <form action="submit_new_poll" method = "post">
         <label for="question">Motion:</label><br>
         {% if invalid_question %}
            <label class="error" >Please enter what to vote on</label><br>
         {% endif %}
         <input type="text" id="question" name="question" value={{question}}><br><br>

         <label for="people">Eligible voters:</label><br>
         {% if invalid_mail %}
            <label class="error" >You entered an invalid e-mail address</label><br>
         {% endif %}
         <textarea rows="150" cols="50" name="people">{{people}}</textarea><br>
         <input type="submit" name="submit" value="Submit" >
      </form>
      
   </body>
</html>